<form action="/action/create/thread" method="post" enctype="multipart/form-data">
    <input type="hidden" name="board_id" value="{{board_id}}"/>
    <input type="hidden" name="return_uri" value="{{return_uri}}"/>
    <input type="text" name="title" placeholder="Title"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="text" name="username" placeholder="Username"/>
    <textarea name="content" placeholder="Content"></textarea>
    <input type="text" name="youtube" placeholder="Youtube Link"/>
    <input type="file" name="attachment"/>
    <button>Submit</button>
</form>
