<form action="/action/update/board" method="post" enctype="multipart/form-data">
    <table>
        <tbody>

        <tr>
            <td>ID</td>
            <td><input type="text" name="id" value="{{id}}" readonly/></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" value="{{name}}"/></td>
        </tr>
        <tr>
            <td>Created at</td>
            <td><input type="text" name="created_at" value="{{created_at}}" disabled/></td>
        </tr>
        <tr>
            <td>Updated at</td>
            <td><input type="text" name="updated_at" value="{{updated_at}}" disabled/></td>
        </tr>
        <tr>
            <td>Deleted at</td>
            <td><input type="text" name="deleted_at" value="{{deleted_at}}" disabled/></td>
        </tr>
        <tr>
            <td>Display threads in page</td>
            <td><input type="text" name="display_thread" value="{{display_thread}}"/></td>
        </tr>
        <tr>
            <td>Display threads in list</td>
            <td><input type="text" name="display_thread_list" value="{{display_thread_list}}"/></td>
        </tr>
        <tr>
            <td>Display responses in index</td>
            <td><input type="text" name="display_response" value="{{display_response}}"/></td>
        </tr>
        <tr>
            <td>Display response line in index</td>
            <td><input type="text" name="display_response_line" value="{{display_response_line}}"/></td>
        </tr>
        <tr>
            <td>Thread title character limit</td>
            <td><input type="text" name="limit_title" value="{{limit_title}}"/></td>
        </tr>
        <tr>
            <td>Response username character limit</td>
            <td><input type="text" name="limit_name" value="{{limit_name}}"/></td>
        </tr>
        <tr>
            <td>Response content character limit</td>
            <td><input type="text" name="limit_content" value="{{limit_content}}"/></td>
        </tr>
        <tr>
            <td>Maximum responses per thread</td>
            <td><input type="text" name="limit_response" value="{{limit_response}}"/></td>
        </tr>
        <tr>
            <td>Allowed attachment type</td>
            <td><input type="text" name="limit_attachment_type" value="{{limit_attachment_type}}"/></td>
        </tr>
        <tr>
            <td>Maximum attachment size</td>
            <td><input type="text" name="limit_attachment_size" value="{{limit_attachment_size}}"/></td>
        </tr>
        <tr>
            <td>Attachment name character limit</td>
            <td><input type="text" name="limit_attachment_name" value="{{limit_attachment_name}}"/></td>
        </tr>
        <tr>
            <td>Response posting cooldown</td>
            <td><input type="text" name="interval_response" value="{{interval_response}}"/></td>
        </tr>
        <tr>
            <td>Duplicated response posting cooldown</td>
            <td><input type="text" name="interval_duplicate_response" value="{{interval_duplicate_response}}"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button>Submit</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>